<h1>Abandon FDs (or SPs ) and Children</h1>

<cr></cr>
<form action="/itssupp/info/" method ="get">
  Environment:<br>
  <input type="radio" name="server" value="Prod"> Production(Clarity-prd01)<br>
  <input type="radio" name="server" value="Int"> Integration (Clarity-int01)<br>
  <input type="radio" name="server" value="Dev"> Development (Clarity-dev01)<br>
  <br><br>

  ITSSUPP ticket number:
  <input type="text" name="ticketnum", size="4">
  <br><br>
  Choose Function:
  <br>
  <input type="radio" name="function" value="FDchildren"> Abandon FD and Children (FD,AP,AT,SP,Samples and SOWs)<br>
  <input type="radio" name="function" value="SPchildren"> Abandon SP and Children (SP,Samples and SOWs)<br>
  <input type="radio" name="function" value="FDchildrenTest">Test: Abandon FD and Children (no database updates)<br>
  <input type="radio" name="function" value="SPchildrenTest">Test: Abandon SP and Children (no database updates)<br>
  <br><br>
  What are the FDs (or SPs)? (separate by comma):
  <br>
  <input type="text" name="SpsOrFds" size="80">
  <br><br>

  <input type="submit" value="Submit">
  <input type="reset">
</form>



